#index
  .row
    .m-2.m-sm-0.p-2
      %h1.page-title Title

      %p What are five ways to hang pictures on old walls, and which one might actually stick? Why is my white dog growing brown hair? Why do my legs cramp when I try to meditate? Fantastic questions, reader, and you’re in luck: I know the answer to -- well... Maybe to one of these questions. Wait, don’t go away, please. I’m a good investigator! We can make this work. In fact, I have definitely hung pictures on crummy old walls recently. And some of them are still up!

      %p What I’m trying to say is, let’s explore together. I’ll share what I know, but I’ll bring in experts to correct me sometimes, or share themselves. I’m a female software developer, Seattle resident, dog owner, amateur singer, eager traveler, and probably some other things I’ve forgotten to list, or intentionally excluded from my list because they’re incredibly humiliating.

      %p Thank you for giving me a chance.

      .text-right
        %a{ "href": post_path(1) }
          Read on
          %i.mi Face
