#index.post-show
  .data-nav-location{ "data-nav-location": "#home-nav" }
  .row
    .m-2.m-sm-0.p-2
      %h1.page-title Welcome

      %p My name is Katy and I blog about things. orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

      %p Ultimately I actually just want money. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

      %p But even getting a few dozen readers would be a pleasant surprise for me.

      .text-right.post-nav
        %a{ "href": post_path(@first_post) }
          Read on
          %i.material-icons arrow_forward
