@import 'material_icons'
@import 'fonts'

// Variables must come before bootstrap
@import 'variables'
@import 'bootstrap'


.blog
  font-family: 'monospacemedium'

.header
  img
    width: 100%
    height: auto
    margin-bottom: 2em
    border-radius: 5px
    opacity: 0.2

.navigation
  width: 100%
  ul.navbar-nav
    width: 100%
  li.float-right
    width: 100%

  i
    position: relative
    font-size: 12px
    top: 2px

.footer
  color: $body-color
  height: 4em
  width: 100%
  margin-top: 3em
  background-color: lighten($red, 75%)

