@import 'material_icons'

// Variables must come before bootstrap
@import 'variables'
@import 'bootstrap'

.header
  img
    width: 100%
    height: auto
    margin-bottom: 2em
    border-radius: 5px
    opacity: 0.2
