$font-family: raleway

// Colors
$body-color: #1d2d47
$secondary-color: lighten($body-color, 30%)
$red: #471d2d
$green: #2d471d

// Headers
$h1-font-size: 30px

// Navbar
$navbar-light-color: $body-color
$navbar-light-hover-color: yellow
$navbar-light-active-color: green

// Headings
$headings-margin-bottom: 1em
$headings-font-family: $font-family

// Font
$font-family-monospace: $font-family
$font-family-base: $font-family-monospace
$font-weight-base: bold
