$font-family: raleway

// Colors
$body-color: #1d2d47
$secondary-color: lighten($body-color, 30%)

// Headers
$h1-font-size: 30px

// Navbar
$navbar-light-color: $body-color

// Headings
$headings-margin-bottom: 1em
$headings-font-family: $font-family

// Font
$font-family-monospace: $font-family
$font-family-base: $font-family-monospace
$font-weight-base: bold
